@font-face {
    font-family: "ReithSans";
    src: url(typography/reith/sans/light.woff2);
    font-weight: 300;
    font-style: sans-serif;
}

@font-face {
    font-family: "ReithSans";
    src: url(typography/reith/sans/light_italic.woff2);
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "ReithSans";
    src: url(typography/reith/sans/regular.woff2);
    font-weight: 400;
    font-style: sans-serif;
}

@font-face {
    font-family: "ReithSans";
    src: url(typography/reith/sans/italic.woff2);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "ReithSans";
    src: url(typography/reith/sans/medium.woff2);
    font-weight: 500;
    font-style: sans-serif;
}

@font-face {
    font-family: "ReithSans";
    src: url(typography/reith/sans/medium_italic.woff2);
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "ReithSans";
    src: url(typography/reith/sans/bold.woff2);
    font-weight: 700;
    font-style: sans-serif;
}

@font-face {
    font-family: "ReithSans";
    src: url(typography/reith/sans/medium.woff2);
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "ReithSans";
    src: url(typography/reith/sans/extra_bold.woff2);
    font-weight: 800;
    font-style: sans-serif;
}

@font-face {
    font-family: "ReithSerif";
    src: url(typography/reith/serif/light.woff2);
    font-weight: 300;
    font-style: serif;
}

@font-face {
    font-family: "ReithSerif";
    src: url(typography/reith/serif/light_italic.woff2);
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "ReithSerif";
    src: url(typography/reith/serif/regular.woff2);
    font-weight: 400;
    font-style: serif;
}

@font-face {
    font-family: "ReithSerif";
    src: url(typography/reith/serif/italic.woff2);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "ReithSerif";
    src: url(typography/reith/serif/medium.woff2);
    font-weight: 500;
    font-style: serif;
}

@font-face {
    font-family: "ReithSerif";
    src: url(typography/reith/serif/medium_italic.woff2);
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "ReithSerif";
    src: url(typography/reith/serif/bold.woff2);
    font-weight: 700;
    font-style: serif;
}

@font-face {
    font-family: "ReithSerif";
    src: url(typography/reith/serif/medium.woff2);
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "ReithSerif";
    src: url(typography/reith/serif/extra_bold.woff2);
    font-weight: 800;
    font-style: serif;
}

* {
    font-family: "ReithSans", sans-serif;
    font-family: "ReithSerif", serif;
}

.container {
    max-width: 1275px;
}

.bbc-header div.header-element {
    padding: 1.2em 1px 1.2em;
}

.bbc-header div.header-element:first-child {
    padding-left: 0;
}

.bbc-header div.header-element:last-child {
    padding-right: 0;
}

.bbc-header .icon-filled {
    font-size: 18px;
}

.bbc-header div.header-separator {
    height: 24px;
    width: 1px;
    background-color: #00000038;
}

.bbc-header div.header-text {
    padding-top: 6px;
}

.bbc-header input {
    border: none;
    background: none;
}

.bbc-header .header-input {
    background-color: #f5f5f5;
    margin-top: -3px;
    margin-bottom: -19px;
}

.bbc-header * {
    font-family: "ReithSans", sans-serif;
    font-weight: 700;
    font-size: 14px;
}

.bbc-header a {
    color: #000000;
}

.news-header {
    background-color: #b80000;
    overflow: hidden;
}

.news-header .header {
    font-family: "ReithSans", sans-serif;
    color: #adadad;
    font-size: 50px;
}

.news-header .options hr {
    width: 300%;
    margin: 0;
    margin-left: -50%;
    background-color: #adadad;
}

.news-header div.header-separator {
    height: 18px;
    width: 1px;
    background-color: #ffffff38;
}

footer {
    background-color: #4c4c4c;
}

footer * {
    font-size: 13px;
    color: #ffffff;
}

footer hr, footer .separator {
    color: #acacac;
    background-color: #717171;
}

footer .separator {
    width: 1px;
    height: 66px;
}

.footer-bottom .footer-element {
    padding: 8px;
    padding-bottom: 20px;
}

.footer-bottom .footer-element:first-child {
    padding-left: 0;
}

.footer-bottom .footer-element:last-child {
    padding-right: 0;
}

.footer-element-container div {
    padding-top: 5px;
    padding-bottom: 4px;
}

.icon {
    font-family: "Icons";
}

.icon-filled {
    font-family: "IconsFilled";
}

main {
    margin-top: 20px;
}
